### Carrega Bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline
plt.rcParams['figure.figsize'] = [15, 5]

### Carrega Data Frame

In [3]:
df = pd.read_excel('Gastos.xlsx', index_col = 'date', parse_dates = True)
df.tail()

               category                   title  amount
date
2020-07-17  restaurante            Ifood *Ifood   32.90
2020-07-24       outros  Picpay*Vb3*Uberprepago   43.49
2020-07-30       outros  Picpay*Vb3*Uberprepago   37.40
2020-08-01  restaurante          Mc Donalds Cod   38.00
2020-09-05       Diliça                  Diliça   30.00

# Gasto médio por categoria

In [ ]:
df_mean = df.groupby('category').mean().sort_values(by='amount')
fig, ax = plt.subplots()
df_mean.plot(kind='barh', ax=ax)
ax.set_xlabel('Amount($)', size=20)
ax.set_ylabel('Category', size=20)

# Gasto médio por mês

In [ ]:
df_mensal = df.resample('M').mean()
df_mensal.plot()
plt.xlabel('Date', size=20)
plt.ylabel('Amount($)', size=20)
plt.title('Average Monthly Spending')
plt.show()

# Gasto total por mês

In [ ]:
df.resample('M').sum()

# Selecionando TimeFrame expecífico

In [ ]:
def timeFrame(start, end):
    return df[start : end]

def plot_timeFrame(start, end):
    df_mensal[start : end].plot(kind='bar')
    plt.ylabel('Amount($)', size=20)
    plt.xlabel('Date', size=20)
    return

print('Selecione a data no formato YYYY-MM')
start = input('Data inicial: ')
end = input('Data Final: ')

In [ ]:
timeFrame(start, end)

In [ ]:
plot_timeFrame(start, end)

# Gasto total por categoria

In [ ]:
df.groupby('category').sum()

# Quantidade de tranações por categoria

In [ ]:
categorias = []
filtered_df = df.dropna(subset=['category'])
for i in filtered_df['category']:
    if i not in categorias:
        categorias.append(i)
for e in categorias:
    print(e)

def porCategoria(cat):
    df['count'] = 1
    df_count = df.groupby(['category']).count()['count']
    return('Você fez transações na categoria {0} {1}x'.format(cat, df_count[cat]))

cat = input('Escolha uma das categorias: ')
porCategoria(cat)

# Analise de gastos nos últimos mês

In [ ]:
g = df.groupby(pd.Grouper(freq='M'))
dfs = [group for _,group in g]
meses = {'ultimo' : -1, 'penultimo' : -2, 'antepenultimo' : -3}
print('----------------------------------------------------------------')
qd = input('Ver gasto de qual mês (ultimo, penultimo, antepenultimo)? ')
print('----------------------------------------------------------------\n')
x = meses[qd]

print('Gasto total no último mês: R$ {0:.2f}'.format(dfs[x].sum()['amount']))
print('')
print('Gasto médio no último mês: R$ {0:.2f}'.format(dfs[x].mean()['amount']))